@using Kztek.Web.Core.Functions
@{ 
    var Dictionary = FunctionHelper.GetLocalizeDictionary("tblCardGroup", "FormulationTimePeriod");
}
<div class="form-group">
    <label class="col-sm-4 control-label no-padding-right"> @Dictionary["TimePeriod"] </label>
    <div class="col-sm-4 col-xs-12">
        <input type="text" name="TimePeriods" id="TimePeriods" value="@ViewBag.TimePeriod" placeholder="00:00-12:00" class="form-control" />
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label no-padding-right"> @Dictionary["Fee"]  </label>
    <div class="col-sm-4 col-xs-12">
        <input type="text" name="Costs" id="Costs" value="@ViewBag.CostValue" placeholder="1000" class="form-control" />
    </div>
</div>