@model List<Kztek.Model.Models.SelfHostConfig>

@{ 

}

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="form-group" id="@string.Format("HOST_{0}", item.Address.Replace(".", ""))">
            <strong class="control-label col-xs-12 col-sm-12">
                @item.Address
            </strong>
            <div class="col-xs-12 col-sm-12" id="ProgressBar">
               
            </div>
        </div>
    }
}
