@using Kztek.Web.Attributes
@model List<string>

@{
    var total = (int)ViewBag.totalItemValue;
    var url = (string)ViewBag.urlValue;
}

<div style="display:inline">
    Đã chọn: @Model.Count / @total

    @if (Model.Count > 0)
    {
        <a href="javascript:void(0)" class="red" title="Xóa tất cả thẻ đã chọn" onclick="RemoveAllSelectedCard('@total', '@url')">
            <i class="fa fa-remove"></i>
        </a>
    }
</div>
<div style="display:inline;margin-left:15px">
    @*@if (CheckAuthorizeAction.CheckActionPemission("tblCard", "Lock"))
    {
        <button type="button" class="btn btn-warning btn-sm btn-white btn-bold" onclick="LockCardSelected('@url')">
            <i class="fa fa-lock"></i>
            Khóa thẻ
        </button>
    }

    @if (CheckAuthorizeAction.CheckActionPemission("tblCard", "Unlock"))
    {
        <button type="button" class="btn btn-info btn-sm btn-white btn-bold" onclick="UnlockCardSelected('@url')">
            <i class="fa fa-unlock"></i>
            Mở thẻ
        </button>
    }

    @if (CheckAuthorizeAction.CheckActionPemission("tblCard", "Delete"))
    {
        <button type="button" class="btn btn-danger btn-sm btn-white btn-bold" onclick="DeleteCardSelected('@url')">
            <i class="fa fa-trash"></i>
            Xóa thẻ
        </button>
    }

    ---*@

    @if (CheckAuthorizeAction.CheckActionPemission("tblCard", "Authorize"))
    {
        <div style="display:inline-flex">
            @Html.DropDownList("accesslevel", new SelectList(ViewBag.llevels, "AccessLevelID", "AccessLevelName"), "--Lựa chọn--", new { @class = "form-control chosen-select" })

        </div>

        <button type="button" class="btn btn-success btn-sm btn-white btn-bold" onclick="AuthorizeCardSelected('@url')">
            <i class="fa fa-check"></i>
            Phân quyền thẻ
        </button>

        <button type="button" class="btn btn-pink btn-sm btn-white btn-bold" onclick="AuthorizeAllCard('@url')">
            <i class="fa fa-save"></i>
            Phân quyền <span>@total</span> thẻ
        </button>
    }
</div>

<script>
    $(function () {
        $('.chosen-select').chosen({ allow_single_deselect: true });
    });
</script>

